---
layout: page
title: Projects
---
<h1 class="text-center header-gold">
    Projects I've worked on (click for more info)   
</h1>

<ul class="list text-center">
    <h1 class="timeline-year">Current</h1>
    <il class="item">
        <a href="https://arcticfarming.fi" target="_blank" rel="noopener noreferrer" alt="Arctic Farming">
            <img src="/assets/images/logos/arctic-farming.png" alt="Arctic Farming Oy" style="width: 65%;">
        </a>
        <br>
        <h2>Autonomous Vertical Farming 🧑‍🌾</h2>
    </il>
    <il class="item">
        <a href="https://innospace-masters.de/dlteo-the-one-stop-shop-for-the-earth-observation-data-market/" target="_blank" rel="noopener noreferrer" alt="DLTEO">
            <img src="/assets/images/logos/dlteo.svg" alt="DLTEO GmbH" style="width: 75%;">
        </a>
        <br>
        <h2 style="font-size: 2.1rem;">Blockchain Decentralised Earth Observation Data Processing 🖥️🛰️</h2>
    </il>
</ul>

<ul class="list text-center">
    <h1 class="timeline-year">2021</h1>
    <il class="item">
        <a href="https://oewf.org/amadee-20/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;" alt="AMADEE-20">
            <img src="/assets/images/logos/amadee-logo.svg" alt="AMADEE-20" style="width: 40%;">
            <img src="/assets/images/oewf-mars.jpg" alt="AMADEE-20" style="width: 57%;">
        </a>
        <br>
        <h2>High-Fidelity Mars Analog Mission 👨‍🚀🏜️</h2>
    </il>
    <il class="item" style="height: 4rem;"></il><!--Spacer for item below-->
    <il class="item">
        <a href="https://www.nanosats.eu/sat/spin-1" target="_blank" rel="noopener noreferrer" alt="SPiN-1">
            <img src="/assets/images/spin-1.png" alt="SPiN-1" style="width: 57%;">
        </a>
        <br>
        <h2>SPiN-1 Cubesat - Plug-and-Play with Satellite Components 🖥️🛰️</h2>
    </il>
</ul>

<ul class="list text-center"></ul>
    <h1 class="timeline-year">2018</h1>
    <il class="item">
        <a href="https://www.union.ic.ac.uk/guilds/icseds/projects/hab/" target="_blank" rel="noopener noreferrer" alt="ICSEDS HAB">
            <img src="/assets/images/hab-launch.jpg" alt="HAB-2018">
        </a>
        <iframe style="width: 100%; aspect-ratio: 16 / 9;" src="https://www.youtube-nocookie.com/embed/uZ7XQQGLb3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <h2 class="text-center">High Altitude Balloons 🎈☁️</h2>
    </il>
</ul>

<ul>
    <br>
    <il>
    <h3>Older projects will be here soon... 🚀🛰️👩‍🚀🌑</h3>
    </il>
</ul>
<!--<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
