---
layout: page
title: Publications
---

<head>
    <base target="_blank" rel="noopener noreferrer">
</head>
 
<h1 class="text-center header-gold">List of Publications</h1>
<ol>
        <!-- Template for citations
        <li>
        <p>Forthcoming: <cite>Programming with JAVA: A Primer</cite>, 3rd edition, (2007)</p>
        </li>
        <li>
        <p>Reto Meier, <cite>Professional Android 4 Application Development</cite>, 3rd edition, (2012)</p>
        </li>
        -->
    <li><p data-csl-entry-id="sridharan_qedar_romanov-chernigovsky_2021" class="csl-entry">Sridharan, S., Qedar, R., &#38; Romanov-Chernigovsky, I. (2021). Plug-and-Fly Satellite (SPiN-1 mission). In <i>72nd International Astronautical Congress (IAC)</i>. International Astronautical Federation (IAF).</p></li>
    <li><p data-csl-entry-id="sridharan_qedar_romanov-chernigovsky_2021" class="csl-entry">Sridharan, S., Qedar, R., &#38; Romanov-Chernigovsky, I. (2021). Early verification using innovative hardware-in-the-loop system. In <i>Workshop on Simulation for European Space Programmes (SESP)</i>. European Space Agency (ESA).</p></li>
    <li><p data-csl-entry-id="romanov-chernigovsky_qedar_sridharan_2021" class="csl-entry">Romanov-Chernigovsky, I., Qedar, R., &#38; Sridharan, S. (2021). <a href="https://dl.iafastro.directory/event/GLEX-2021/paper/62385/">A simple configuration system for plug and play cubesat OBSW development</a>. In <i>1st Global Space Exploration Conference (GLEX)</i>. International Astronautical Federation (IAF).</p></li>
    <li><p data-csl-entry-id="romanov-chernigovsky_sun_2020" class="csl-entry">Romanov-Chernigovsky, I., &#38; Sun, Prof. G. (2020). <i><a href="https://hdl.handle.net/2381/12646985.v1">Building a Low-Cost Soyuz Simulator to Teach Orbital Navigation</a></i>. University of Leicester.</p></li>
    <li><p data-csl-entry-id="khan_mcgrath_abi-fadel_chen_farias_halpin_jiang_nawal_patel_rahamimoffetal._2019" class="csl-entry">Khan, S., McGrath, M., Romanov-Chernigovsky, I., Abi-Fadel, M., Chen, T., Farias, A., Halpin, S., Nawal, A., Patel, K., … Rahamimoff, A. (2019). <a href="https://dl.iafastro.directory/event/IAC-2019/paper/53588/">Leveraging Additive Manufacturing to Enable Deep Space Crewed Missions</a>. In <i>70th International Astronautical Congress (IAC)</i>. International Astronautical Federation (IAF).</p></li>
    <li><p data-csl-entry-id="10711-Romanov-Chernigovsky-2019" class="csl-entry">Romanov-Chernigovsky, I. (2019). <i>Building a low-fidelity Soyuz simulator at ISU</i> (p. 1 electronic resource (iv, 18 p.)). International Space University.</p></li>
    <li><p data-csl-entry-id="10727-2019" class="csl-entry"><i>Manufacturing for exploration</i> (p. 1 electronic resource (v, 118 p.)). (2019). International Space University.</p></li>
</ol>

<ul class="list"></ul>

<h1 class="text-center header-gold">
    Conferences and Talks    
</h1>
<ol target="_blank" rel="noopener noreferrer">
    <li>
        <p>Plenary Panel Speaker, <a href="https://www.iafastro.org/events/global-series-conferences/glex-2021/">Global Space Exploration Conference (GLEX)</a> Next Generation Day (2021).
            <br><cite>Involved as speaker and co-moderator in several panels (including 2 plenaries), discussing the current issues facing the space industry.</cite></p>
        <iframe style="width: 100%; aspect-ratio: 16 / 9;" src="https://www.youtube-nocookie.com/embed/PBx6O7driao?start=4052" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe style="width: 100%; aspect-ratio: 16 / 9;" src="https://www.youtube-nocookie.com/embed/psmgJSky7UA?start=813" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <p>Co-Presenter and Co-Author, <a href="https://www.iafastro.org/events/iac/iac-2019/">70th International Astronautical Congress (IAC)</a> (2019).
            <br><cite>Presented the paper "<a href="https://dl.iafastro.directory/event/IAC-2019/paper/53588/">Leveraging Additive Manufacturing to Enable Deep Space Crewed Missions</a>".</cite>
        </p>
    </li>
    <li>
        <p>Main Author and Presenter, <a href="https://www.esa.int/Education/ESA_Academy/Students_and_educators_share_ideas_at_SSEA">3rd Symposium on Space Educational Activities</a> (2019).
            <br><cite>Presented the paper "<a href="https://leicester.figshare.com/articles/conference_contribution/Building_a_Low-Cost_Soyuz_Simulator_to_Teach_Orbital_Navigation/12646985?backTo=/collections/Proceedings_of_SSEA_the_3rd_Symposium_on_Space_Educational_Activities/5058980">Building a Low-Cost Soyuz Simulator to Teach Orbital Navigation</a>".</cite>
        </p>
    </li>
    <li>
        <p>Presenter, <a href="https://blog.hde.co.jp/entry/2017/08/17/121313">HDE 36th Monthly Technical Session</a> (MTS) (2017).
            <br><cite>Presented research on radiation effects on electronics. “But will it compile in space?”</cite>
        </p>
    </li>
    <li>
        <p>Co-Presenter, <a href="https://www.batj.org.uk/en/speechcontest/203-the-12th-japanese-speech-contest-for-university-students-results-.html">12th The Twelfth Japanese Speech Contest for University Students</a>, British Association for Teaching Japanese as a Foreign Language (BATJ) (2017).
            <br><cite>Gave the talk "Tim Peake’s Expedition to Space".</cite>
        </p>
    </li>
    <li>
        <p>Co-Presenter, <a href="https://mlh-prime-europe.devpost.com/project-gallery">MLH Prime: Europe Regional</a> (2017).
            <br><cite>Presented the hackathon project "<a href="https://devpost.com/software/beat-rap">Adversarial Neural Network for Procedural Generation of Rap Lyrics</a>".</cite>
        </p>
    </li>
</ol>


<!--<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
